$main: rgba(#000000, 0.87)
// $grey: rgba(#000, 0.)
$text: rgba(#000000, 0.7)
$shadow: rgba(#000000, 0.35)
$white:#ffffff
$whiteish: rgba(#fff, 0.90)
$uber_light_grey: #f8f8f8
$orange: #f74300
$nav-title: #b1b1b1
$input-border-focus: $orange

html, body
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 16px
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  font-family: Roboto, sans-serif

.container
  max-width: 1440px
  text-align: center

.title, .subtitle
  color: $main
  text-transform: uppercase

.title
  font-family: 'Roboto'

.subtitle
  // font-weight:  700
  font-size: 1.4rem
  font-family: 'Roboto Condensed'

.text
  color: $text
  font-size: 1rem

.section-heading
  font-family: 'Roboto Condensed'
  font-size: 1.2rem
  font-weight: 300
  text-transform: uppercase
  // font-weight: 700
  margin: 6em 0 2em 0

.section-heading::after
  content: ''
  height: 1px
  max-width: 2em
  display: block
  margin: 0.5em auto
  background: $orange


a
  text-decoration: none
  color: $main
  &:hover, &focus
    color: $main
    text-decoration: none


.button
  background: $white
  color: $main
  padding: 0.5em 3.2em
  text-decoration: none
  text-transform: uppercase
  border: none
  outline: none
  border-radius: 0
  text-align: center
  &:hover, &:focus
    color: $white
    text-decoration: none
    background: $orange
    text-decoration: none

// =================================================
// ================= NAVBAR STYLE =================
// =================================================

.nav, .navbar
  margin: 0
  background: transparent
  height: 3em
  border: none


  .container
    align-self: center
    width: 90%
    padding-top: 1em

  #navbar-logo
    font-size: 1.5rem
    font-weight: 100
    align-self: center
    color: $white
    text-transform: uppercase
    float: left

  #navbar-links
    list-style: none
    float: right
    li
      padding: 0
      align-self: center
      a
        font-size: 14px
        text-transform: uppercase
        font-family: 'Roboto Condensed'
        font-weight: 500
        color: $whiteish
        &:hover, &:focus
          color: $orange
          -webkit-transition: color 0.5s ease-out
          -moz-transition: color 0.5s ease-out
          -o-transition: color 0.5s ease-out
          transition: color 0.5s ease-out




// =================================================
// ================= NAVFIXED STYLE =================
// =================================================
.nav-fixed
  height: 1.25em
  background: #fff
  box-shadow: 0rem 0.1rem 0.5rem $shadow
  color: $main

  .container
    padding: 0
    align-self: center
  #navbar-links
    li
      a
        font-weight: 700
        color: $main


  #navbar-logo
    color: $main
    &:hover, &:focus
      color: $orange

// =================================================
// ================= HOME STYLE =================
// =================================================
#home
  background: linear-gradient(rgba(#000, 0.3), rgba(#000, 0.3) ), url("../images/first.jpg")
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  background-attachment: fixed
  padding: 0
  margin: 0
  height: 70vh
  display: flex
  display: -webkit-webkit-flex
  display: -moz-webkit-flex
  align-items: center
  -webkit-align-items: center
  justify-content: center
  -webkit-justify-content: center
  text-align: center
  z-index: 10
  position: relative

  .heading_content
    position: absolute

    .title, .subtitle
      margin: 1.5em
      color: $white

    .title
      text-transform: uppercase
      font-weight: 200
      font-family: 'Roboto Condensed'
      font-size: 6.5rem
      padding: 0.3em
      margin: 0.3em
      border-bottom: solid 0.3rem $white
      border-spacing: 0.3em

    .subtitle
      font-weight: 300
      text-transform: uppercase
      color: $whiteish
      margin-bottom: 0.5em
      padding-bottom: 1em


  .home_button
    // bottom: 15%
    margin-top: 30rem
    background: $white
    color: $main
    border: 2px solid $white
    &:hover, &:focus
      // color: $orange




// =============================================
// ============= ABOUT STYLES ==================
// =============================================
#about
  position: relative
  z-index: 6
  margin: 0 auto
  // background: $uber_light_grey
  background: linear-gradient( rgba($uber_light_grey, 0.75), rgba($uber_light_grey, 0.75) ), url("../images/map_big3.jpg")
  background-attachment: fixed

  .subtitle
    color: $text
    font-weight: 100
    font-size: 1.1rem

  .about-item-row
    margin: 2em auto
    .about-item-content
      background: #fff
      border: 1px solid $uber_light_grey
      box-shadow: 0 0.1em 0.1em $shadow
      padding: 3em 3.5em
      width: 100%
      height: 100%
      text-align: left
      .linea-icon
        font-family: 'linea-basic-10'
        font-size: 4rem
        font-style: normal
        font-weight: normal
        color: $main
      transform: translateY(0)
      transition: all 0.3s ease-in-out
      -webkit-transition: all 0.3s ease-in-out
      -moz-transition: all 0.3s ease-in-out
      -o-transition: all 0.3s ease-in-out

      &:hover, &:focus
        box-shadow: 0 0.7em 1em $shadow
        transform: translateY(-15px)
        transition: all 0.4s ease-in-out
        -webkit-transition: all 0.4s ease-in-out
        -moz-transition: all 0.4s ease-in-out
        -o-transition: all 0.4s ease-in-out
        .linea-icon
          color: $orange
          -webkit-transition: color 0.5s ease-out
          -moz-transition: color 0.5s ease-out
          -o-transition: color 0.5s ease-out
          transition: color 0.5s ease-out
        .learn-more
          img
            opacity: 1
            -webkit-transition: opacity 0.7s ease-in-out
            -moz-transition: opacity 0.7s ease-in-out
            -o-transition: opacity 0.7s ease-in-out
            transition: opacity 0.7s ease-in-out


      .subtitle
        color: $main
        font-size: 1.3rem
        margin: 2em 0
        display: block

      .learn-more
        font-size: 2em
        display: block
        img
          opacity: 0
        margin-top: 1em
        text-decoration: none
        text-align: center
        color: $white
        cursor: pointer
        transition: margin-left 0.5s ease-out
        -webkit-transition: margin-left 0.5s ease-out
        -moz-transition: margin-left 0.5s ease-out
        -o-transition: margin-left 0.5s ease-out
        &:hover
          margin-left: 1.5em
          transition: margin-left 0.5s ease-out
          -webkit-transition: margin-left 0.5s ease-out
          -moz-transition: margin-left 0.5s ease-out
          -o-transition: margin-left 0.5s ease-out

  .btn-row
    margin: 4em auto
    text-align: center
    // align-items: center

    .button
      width: 20%
      position: relative
      padding: 0.5rem
      font-weight: 700
      color: $main
      background: #fff
      &:hover, &focus
        background: $orange
        color: $main
        -webkit-transition: all 0.5s ease-in-out
        -moz-transition: all 0.5s ease-in-out
        -o-transition: all 0.5s ease-in-out
        transition: all 0.5s ease-in-out

    .button::before
      font-family: 'linea-basic-10'
      content: "."
      font-size: 2em
      font-weight: 700
      color: $main
      position: absolute
      width: 2rem
      display: block
      left: -40px
      top: -5px
    &:hover, &:focus
      color: $orange


  #who
    width: 100%
    background: #fff


#first_window
  position: relative
  z-index: 5
  height: 350px
  background-image: linear-gradient( rgba($main, 0.8), rgba($main, 0.8) ), url(../images/headerrr.jpg)
  color: $whiteish
  i
    font-size: 4rem
    color: $whiteish

  .count
    font-size: 5rem
    font-weight: 700
  .window-text
    font-size: 1rem
    text-transform: uppercase
    font-weight: lighter


// =================================================
// ================= SERVICES STYLE ================
// =================================================
#services
  background:
    image: linear-gradient( rgba($uber_light_grey, 0.75), rgba($uber_light_grey, 0.74) ), url("../images/map_big3.jpg")
    size: cover
    repeat: repeat
    attachment: fixed
  height: 900

  .section-heading
    text-align: center

  .options-row
    padding: 5em
    .serv-opt-holder
      .serv-opt
        padding: 2em
        height: 100%
        width: 6em
        background: #fff
        display: flex
        flex-direction: column
        position: relative
        cursor: pointer
        justify-content: center
        align-items: flex-start
        text-align: left
        height: 100%
        width: 100%
        color: $main
        &:hover
          // color: #fff
          .subtitle, .serv-opt-num
            color: #fff
          background: $orange
          transition: all 0.4s ease-out

        .serv-opt-num
          font-size: 1em
          font-weight: 700
          color: $shadow
          padding: 0
          margin: 0
        .subtitle
          // font-weight: 700
          // font-family: 'Roboto Condensed'
          padding: 0
          margin: 0
      .active-option
        cursor: default
        background-color: $orange
        .subtitle
          color: #fff
        .serv-opt-num
          color: $whiteish
        &:hover
          background-color: $orange

      .active-option:after
        content: ""
        width: 1.5em
        height: 1.5em
        background-color: $orange
        transform: rotate(45deg)
        position: absolute
        left: 15%
        bottom: -6%

  .shown-serv-row
    width: 100%
    background: #fff
    color: $text
    font-size: 1.1rem
    // position: relative
    display: none


    .shown-serv
      position: relative
      margin: 0 auto
      // height: 400px
      display: none
      // width: 50%
      justify-content: center
      .shown-serv-content
        padding: 3em
        display: flex
        justify-content: space-around
        align-items: center
        text-align: left
        // left: 50%
        // top: 50%
        .shown-serv-num
          font-size: 3rem
          font-weight: 700
          color: $shadow
      //   display: none
      h2
        // margin: 0
        // padding: 0.3em
        font-family: "Roboto Condensed"
        color: $main
        font-size: 2.7rem
      .text
        font-size: 1.1rem
        // li
      // #serv-1
      //   display: none
      // #serv-2
      //   display: none
      // #serv-3
      //   display: none


// =================================================
// ================= REFERENCES STYLE =================
// =================================================
#references
  position: relative
  z-index: 3
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(../images/header.jpg)


#mapp
  width: 100%
  margin: 2em
  height: 400px

// =================================================
// ================= CONTACT STYLE =================
// =================================================
#contact
  background: #fff

  position: relative
  z-index: 2
  width: 100%
  // margin-bottom: 400px

  .section-heading::after
    content: ''
    height: 1px
    max-width: 3em
    display: block
    margin: 0.75em auto
    background: $orange
  .contact-info
    margin-bottom: 5em
    .contact-info-item
      i
        font-size: 2rem
        color: $orange
      .text-content
  .middle-item
    border-left: 1px solid #cfcfcf
    border-right: 1px solid #cfcfcf

  #mail
    padding: 4em auto
    .email-input
      margin-top: 5em
    input
      margin: 2em auto
      // border-radius: 0
      height: 3.25em
      background: #fbfbfb
      &:hover, &:focus
        -moz-box-shadow: none
        outline: none
        border-style: none
        box-shadow: none
        -webkit-box-shadow: none
        -moz-box-shadow: none
        border: 1px solid $orange

    #form_text_field
      border-radius: 0
      margin: 0.75em auto
      width: 100%
      background: #fbfbfb
      &:hover, &:focus
        resize: none
        outline: none
        border-style: none
        box-shadow: none
        -webkit-box-shadow: none
        -moz-box-shadow: none
        border: 1px solid $orange

    .btn
      background: #fff
      border: 1px solid $orange
      width: 100%
      color: $main
      font-size: 1.1rem
      font-weight: 700
      &:hover, &:focus
        box-shadow: 0 0.5rem 0.5em rgba(0,0,0,.15)
        background: $orange
        -webkit-transition: background 0.5s ease-out
        -moz-transition: background 0.5s ease-out
        -o-transition: background 0.5s ease-out
        transition: background 0.5s ease-out
        color: #fff

.map-row
  padding: 0
  margin: 3em 0 0 0
  height: 400px
  position: relative
  z-index: 8
  // margin-bottom: 200px
  .overlay
    background: transparent
    position: relative
    width: 100%
    height: 100%
    top: 400
    margin-top: -400px

  #map
    width: 100%
    height: 100%
    padding: 0
    pointer-events: none

.large-window
  margin: 0
  padding: 0
  height: 500px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  background:
    size: cover
    position: center
    repeat: no-reapeat
    attachment: fixed


footer
  background: $main
  height: 200px
  font-size: 2.35rem
  text-align: center
  // position: fixed
  z-index: 1
  bottom: 0
  width: 100%

  .fa
    color: $white
    font-weight: 400
    padding: 1em 2em
    &:hover, &:focus
      color: $orange

  .contact-list
    list-style: none
    margin: 0
    padding-top: 0.75em
    li
      display: inline

  .copyright
    padding-bottom: 1em
    margin: 0
    color: $uber_light_grey
    font-size: 0.25em
